.skills{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: calc(8rem - 16px) 16px 11.5rem;
    @media (max-width:768px) {
        padding: calc(5rem - 16px) 16px 5.5rem;
    }
    &__header{
        width: 100%;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        display: flex;
        align-items: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $border;
            bottom: -16px;
            left: 0;
            opacity: 0.5;
            transition: .4s ease background;
        }
        &:hover::after{
            background: $blue;
        }
    }
    &-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-column-gap: 1.5rem;
        margin-top: 128px;
        @media (max-width: 768px) {
            margin-top: 64px;
        }
        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }
        &__header{
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.75rem;  
            position: relative;
            &::before{
                content: '';
                position: absolute;
                height: 4px;
                width: 5rem;
                top: -1.5rem;
                left: 0;
                background: $green;
                border-radius: 8px;
                transition: .4s ease width;
                .skills-list--something &{
                    background: $violet;
                }
                .skills-list--want &{
                    background: $beforeBlue;
                }
            }
            &:hover::before{
                width: 100%;
            }    
        }
        &__list{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                grid-column-gap: 1.5rem;
                padding: 0;
                margin-top: calc(1.5rem + 4px);
        }
        &__item{
            color: $smallFont;
            list-style-type: none;
            font-size: 1.125rem;
            line-height: 2.5rem;
            padding: 11px 0 11px 30px;
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 22px;
                left: 0;
                height: 18px;
                width: 18px;
                background: url(../assets/img/check-circle.svg);
                @media (max-width:768px) {
                    top: 18px;
                }
                .skills-list--something &{
                    background: url(../assets/img/check-circle-violet.svg);
                }
                .skills-list--want &{
                    background: url(../assets/img/check-circle-blue.svg);
                }
            }
        }
    }
}