@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap');
@import "_hero";


html {
  box-sizing: border-box;
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $font;
  background: $main;
  font-family: 'Poppins', sans-serif;
}

.main{
  border: 16px solid #171F3F;
  @media (max-width: 768px) {
    border: none;
  }
}